.contact {
    display:block;

    margin-top:65px;
    min-height:50vh; /* Keep the components from shaking due to dynamic height changes */
}

.contact__img {
    display:block;
    width:100%;
    max-width:276px;
    margin-bottom:30px;
}

.contact__form {
    width:100%;
}

.contact__form--hide {
    display:none;
}

.contact__field {
    position:relative;

    margin-bottom:20px;
}

.contact__field-label,
.contact__field-input {
    display:block;
    width:100%;
}

.contact__field-input {
    height:60px;
    padding:10px 60px 10px 15px;

    color:#1f4255;
    line-height:1.6;

    background-color:rgba(255, 255, 255, 0.95);
    border:2px solid transparent;
    border-radius:5px;

    transition:border-color 0.25s;
}

.contact__field-input::-moz-placeholder {
    color:#9b9b9b;
}

.contact__field-input::placeholder {
    color:#9b9b9b;
}

.contact__field-input--textarea {
    height:200px;

    resize:none;
}

.contact__field--error .contact__field-input {
    border-color:#d75a4a;
}

.contact__field-status {
    position:absolute;
    top:12px;
    right:15px;

    width:35px;
    height:35px;
    visibility:hidden;
    opacity:0;

    transition:visibility 0.25s, opacity 0.25s;
}

.contact__field--success .contact__field-status--success,
.contact__field--error .contact__field-status--error {
    visibility:visible;
    opacity:1;
}

.contact__submit {
    display:block;
    width:100%;
    max-width:250px;
    height:60px;
    margin-top:30px;

    color:#fff;
    font-weight:bold;
    line-height:1.6;
    text-shadow:0 2px 4px #0092a8;

    background-color:#2a7d45;
    border-radius:10px;

    transition:background-color 0.25s;
}

.contact__submit:disabled {
    background-color:rgba(255, 255, 255, 0.3);
}

.contact__submit:not(:disabled):hover {
    background-color:#1a6d35;

    cursor:pointer;
}

.contact__sent {
    display:none;
}

.contact__sent--show {
    display:block;
}

.contact__sent-img {
    display:block;

    width:341px;

    margin-left:auto;
    margin-bottom:66px;
}

.contact__sent-message {
    font-size:1.52rem;
    font-weight:600;
    line-height:1.18;
    letter-spacing:0.9px;
}


@media (min-width:1024px) {
    .contact {
        display:flex;
        align-items:flex-start;
        justify-content:space-around;
        margin-top:130px;
    }

    .contact__img {
        flex-basis:276px;
        margin-top:150px;
    }

    .contact__form,
    .contact__sent {
        max-width:600px;
        margin-top:30px;
    }

    .contact__sent-img {
        height:147px;
    }
}
