.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:120px;

    border-bottom:1px solid #FFF;
}

.header__utilNav {
    display:flex;
    align-items:flex-start;
    flex-basis:100%;
}

.header__logo {
    margin-right:40px;

    line-height:0;  /* Remove the small bottom margin on the element */
}

.header__logo-img {
    flex:0 0 131px;
    height:64px;
}

.header__search {
    display:none;
    flex-shrink:5;
    width:100%;
    max-width:428px;
}

.header__search-label,
.header__search-input {
    display:block;
    width:100%;
}

.header__search-input {
    height:60px;
    padding:13px 30px;
    margin:0;

    color:inherit;
    font-weight:600;

    background-color:rgba(255, 255, 255, 0.2);
    border-radius:100px;
}

.header__search-input::-moz-placeholder {
    color:inherit;
}

.header__search-input::placeholder {
    color:inherit;
}

.header__mainNav {
    position:relative;
}

.header__mainNav-toggle {
    width:50px;
    height:50px;
    margin-left:25px;

    background-color:transparent;
    border:0;

    cursor:pointer;
}

.header__mainNav-toggle-line {
    display:block;
    height:3px;

    background-color:#FFF;
}

.header__mainNav-toggle-line:not(:first-of-type) {
    margin-top:10px;
}

.header__menu {
    padding:0;
    margin:0;

    font-weight:600;

    list-style:none;
}

.header__menu-link {
    display:block;
}


@media (min-width:800px) {
    .header__search {
        display:block;
    }
}


@media (max-width:1199px) {
    /* Hamburger nav menu on smaller screens */
    .header__menu {
        position:absolute;
        top:calc(100% + 30px);
        right:0;
        z-index:5;

        display:none;
    }

    .header__menu--show {
        display:block;
    }

    .header__menu-item {
        padding:15px;

        background-color:#015572;
    }

    .header__menu-item--active,
    .header__menu-item:hover {
        background-color:#003352;
    }
}


@media (min-width:1200px) {
    .header {
        padding-left:30px;
        padding-right:25px;
    }

    /* Nav on the right for large screens */
    .header__mainNav-toggle {
        display:none;
    }

    .header__menu {
        display:flex;
        align-items:center;
    }

    .header__menu-item {
        margin-left:15px;
        margin-right:15px;

        border-bottom:5px solid transparent;

        transition:border-color 0.25s;
    }

    .header__menu-item--active,
    .header__menu-item:hover {
        border-color:#FFF;
    }

    .header__menu-link {
        padding:45px 0;
    }
}
