* {
    box-sizing:border-box;
}

html {
    font-size:20px;
    font-family:"Open Sans", sans-serif;
    color:#FFF;
}

body {
    margin:0;
    padding-bottom:10px;

    background-image:url(../../images/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

a {
    color:#FFF;
    text-decoration:none;
}

img {
    max-width:100%;
}

input,
textarea {
    font-family:inherit;
    font-size:inherit;
    
    border:0;
    outline:0;
}

.container {
    max-width:1440px;
    padding-left:20px;
    padding-right:20px;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width:800px) {
    html {
        font-size:25px;
    }
}
